.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#welcome-section {
  font-family: Roboto Mono, monospace;
  font-size: 25px;
  color: black;
  background: red;
  height: auto;
  text-align: auto;
} 

@media (min-width: 600px) {
  p {
    font-size: 1.5rem;
  }
}
